.env
.DS_Store
.idea*
.docker/*

###> joomla ###
!administrator/
administrator/*
!administrator/components/
administrator/components/*
!administrator/components/com_crmstages
api/*
cache/*
cli/*
components/*
configuration.php
.htaccess
LICENSE.txt
README.txt
files/*
htaccess.txt
images/*
includes/*
index.php
language/*
layouts/*
libraries/*
media/*
modules/*
plugins/*
robots.txt
templates/*
tmp/*
web.config.txt
###< joomla ###

###> phpunit ###
vendor/*
phpunit.xml
.phpunit.cache*
###< phpunit ###
