services:
  joomla:
    image: joomla:6.0.2-php8.3-apache
    container_name: joomla
    ports:
      - "80:80"
    environment:
      - JOOMLA_DB_HOST=${JOOMLA_DB_HOST}
      - JOOMLA_DB_USER=${JOOMLA_DB_USER}
      - JOOMLA_DB_PASSWORD=${JOOMLA_DB_PASSWORD}
      - JOOMLA_DB_NAME=${JOOMLA_DB_NAME}
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    networks:
      - joomla
  
  db:
    image: mysql:8.4
    container_name: db
    command: [ 'mysqld',
               "--mysql-native-password=ON",
               '--max-allowed-packet=134217728',
               '--binlog-expire-logs-seconds=259200'
    ]
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./.docker/mysql:/var/lib/mysql
      - ./.docker/mysql.conf:/etc/mysql/mysql.conf.d/mysqld.cnf
    networks:
      - joomla
    ports:
      - '3306:3306'
    restart: always
    
networks:
  joomla:
    name: joomla-network
    driver: bridge
