<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="libraries/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="default">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  
  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
  <php>
    <server name='HTTP_HOST' value='http://localhost' />
    <env name="APP_ENV" value="test"/>
    <env name="MYSQL_VERSION" value="8.4" />
    <env name="MYSQL_ROOT_PASSWORD" value="pwd" />
    <env name="MYSQL_DATABASE" value="joomla_crm" />
    <env name="MYSQL_USER" value="joomla_user" />
    <env name="MYSQL_PASSWORD" value="pwd" />
    <env name="JOOMLA_DB_HOST" value="db" />
    <env name="JOOMLA_DB_USER" value="joomla_user" />
    <env name="JOOMLA_DB_PASSWORD" value="pwd" />
    <env name="JOOMLA_DB_NAME" value="joomla_crm" />
    <env name="JOOMLA_DB_PREFIX" value="jprefix_" />
    <env name="JOOMLA_SMTP_HOST" value="localhost" />
    <env name="JOOMLA_SMTP_PORT" value="25" />
    <env name="JOOMLA_MAILER" value="smtp" />
  </php>
</phpunit>
